* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.example_ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  color: #959494;
  font-size: 15px;
  font-weight: 400;
}

.month_li {
  margin-left: 53px;
}

.example_text {
  color: #959494;
  font-size: 8px;
  font-weight: 400;
}

.example_li {
  width: 15px;
  height: 15px;
  margin: 0 1px;
}

.day_box {
  width: 15px;
  height: 15px;
  margin: 1px;
  border: 1px solid transparent;
  transition: border-color 0.3s;
}

.day_box:hover {
  border: 1px solid #00000080;
}
